<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering allowDoubleEscaping="true" allowHighBitCharacters="true">
                <fileExtensions allowUnlisted="true" />
                <verbs allowUnlisted="true" />
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
        <httpErrors errorMode="Custom">
            
            <!--<error statusCode="404" prefixLanguageFilePath="%SystemDrive%\inetpub\custerr" path="404.htm" responseMode="File" />-->
            <!--<error statusCode="403" subStatusCode="4" path="https://dosa.oit.edu.tw" responseMode="Redirect" />-->
        </httpErrors>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <httpProtocol allowKeepAlive="true" />
		<rewrite>
		  <rules>
			<rule name="Rule" stopProcessing="true">
			  <match url="^(.*)$" ignoreCase="false" />
			  <conditions>
				<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
				<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
				<add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
			  </conditions>
			  <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
			</rule>
		  </rules>
		</rewrite>
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <remove name="PHP53_via_FastCGI" />
            <remove name="PHP_via_FastCGI1" />
            <add name="PHP7.1" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\v7.1\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <system.web>
        <sessionState mode="Off" />
    </system.web>
	
	
</configuration>
